
.container {
  text-align: center
}

@keyframes ldio-850c8ynaqzq {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-850c8ynaqzq div {
  position: absolute;
  width: 44.800000000000004px;
  height: 44.800000000000004px;
  border: 19.2px solid #ff6969;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-850c8ynaqzq div {
  animation: ldio-850c8ynaqzq 1.333333333333333s linear infinite;
  top: 64px;
  left: 64px
}
.loadingio-spinner-rolling-yybmu8bbkj {
  width: 128px;
  height: 128px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-850c8ynaqzq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-850c8ynaqzq div { box-sizing: content-box; }
