.fieldWrapper {
    position: relative;
    margin:0;
    margin-bottom:16px;
}


.field {
    width: 344px;
    padding: 16px 16px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    outline-color: none;
}

.reviewTextField {
    min-height: 160px;
    resize: none;
    outline-color: none;
    word-wrap: break-word;
}

.fieldHint {
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-size: 12px;
    line-height: 14px;
    color: #FF6969;
    opacity:1;
    transform: translateX(0) scale(1);
    transition-property: opacity, transform;
    transition-duration: 0.4s, 0.4s;
    transition-timing-function: ease-out, ease-out;
}

.hintHidden {
    opacity: 0;
    overflow: hidden; 
    transform: translateX(60px) scale(0);
}

.invalid {
    outline-color:#A62222;
}
.valid {
    outline-color: #54CC54
}


::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}

::-moz-placeholder {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}

:-moz-placeholder {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}

:-ms-input-placeholder {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}