.container {
    width: 376px;
    margin: 0 auto;
    margin-top: 30px;
    background: #F8F8F8;
}

.contentContainer {
    padding: 0 16px;
    padding-top: 36px;
    padding-bottom: 82px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.title {
    margin: 0 auto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}